<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wave.Extensions.Miner.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wave.Extensions.Miner.Tests.Properties.Settings>
            <setting name="SessionManager" serializeAs="String">
                <value>..\\..\\..\\Sample Data\Databases\SessionManager.mdb</value>
            </setting>
            <setting name="WorkflowManager" serializeAs="String">
                <value>..\\..\\..\\Sample Data\Databases\WorkflowManager.mdb</value>
            </setting>
        </Wave.Extensions.Miner.Tests.Properties.Settings>
    </userSettings>
</configuration>